# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
status.dat
profile.default/
.hgtags
.hgignore
.plugins
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
venv/
ENV/
env/
ENV/local/
ENV/production/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Project specific
@docs/
docs/

# Local executables and data
venv_python.exe
venv_pythonw.exe
data/
